# Build artifacts
debug/
target/

# Rustfmt backup files
**/*.rs.bk

# MSVC debug info
*.pdb

# Logs
*.log

# SPRT test results
sprt/

# NNUE training data and progress
nnue/data/

# Profiling
profile.json.gz

config.json